@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

input::-moz-placeholder {
  font-family: "montserrat";
}

input:-ms-input-placeholder {
  font-family: "montserrat";
}

h1, h2, h3, h4, h5, h6,
p, a, span button, input::placeholder, label {
  font-family: "montserrat";
}

button, i {
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

body {
  background-color: #13232f;
}

.home {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home h1 {
  font-size: 48px;
  margin-bottom: 48px;
  color: #ffffff;
  font-weight: 700;
}

.home__options {
  display: flex;
  gap: 100px;
}
.home__options a {
  padding: 10px 0;
  border: 1px solid transparent;
}
.home__options a img {
  width: 400px;
  height: 400px;
}
.home__options a:hover {
  border: 1px solid #ffffff;
  border-radius: 12px;
}
.home__options a h4 {
  font-size: 36px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 900px) {
  .home {
    padding-top: 150px;
  }
  .home__options {
    gap: 50px;
  }
  .home__options a img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 650px) {
  .home {
    padding-top: 150px;
  }
  .home h1 {
    font-size: 32px;
  }
  .home__options {
    gap: 20px;
  }
  .home__options a img {
    width: 200px;
    height: 200px;
  }
  .home__options a h4 {
    font-size: 24px;
  }
}
@media (max-width: 430px) {
  .home {
    padding-top: 150px;
  }
  .home h1 {
    font-size: 26px;
    margin-bottom: 24px;
  }
  .home__options {
    gap: 20px;
  }
  .home__options a img {
    width: 170px;
    height: 170px;
  }
  .home__options a h4 {
    font-size: 20px;
  }
}