@use '../global.scss';

$peter-river:#3498db;
$clouds:#ecf0f1;

html, body {
  height: 100%;
}


.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(black, 0.7);;
  z-index: 100;
  top: -100%;
  transition: 0.5s;
}

.modal__content {
  padding: 30px 60px;
  background-color: #FFFFFF;
  border-radius: 12px;
}

form {
  & > input, & > label {
    display: block;
  }
  & > label {
    margin-bottom: 6px;
  }
  .isMarried {
    display: flex;
    align-items: center;
    label {
      margin-bottom: 0;
    }
    input {
      width: 20px;
      height: 100%;
      margin-bottom: 0;
      box-shadow: none;
    }
    margin-bottom: 14px;
  }
  input {
    width: 100%;
    padding: 8px 16px;
    outline: none;
    margin-bottom: 12px;
  }
}

.form__btns {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  button {
    padding: 8px 16px;
  }
}

.modal__content__top {
  display: flex;
  align-items: center;
  gap: 120px;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 32px;
  i {
    font-size: 20px;
  }
}

#home {
  padding-top: 40px;
  padding-bottom: 150px;
}

.home__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.home__top__right {
  display: flex;
  align-items: center;
  gap: 10px;
  input {
    padding: 8px 16px;
    outline: none;
  }
  button {
    padding: 8px 16px;
  }
}

.home__total {
  padding: 10px;
  width: 100%;
  margin-bottom: 48px;
  border-radius: 4px;
  background-color: aqua;
}

.home__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.home__card {
  margin-bottom: 64px;
  p {
    color: black;
  }
  &__img {
    width: 100%;
    height: 120px;
    position: relative;
    padding: 12px;
    background: url('../../assets/images/najottalim.jpg') no-repeat;
    background-position: 0px 40%;
    background-color: black;
    background-size: cover;
    text-align: center;
    img {
      position: absolute;
      width: 128px;
      height: 128px;
      object-fit: cover;
      object-position: center;
      bottom: -50%;
      right: 35.2%;
      border-radius: 50%;
    }
  }
  &__info {
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
.home__card__btns {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px;
  button {
    padding: 12px 24px;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    padding: 12px;
    border: none;
    background-color: transparent;
    &.active {
      background-color: blue;
    }
  }
}

.modal-btn {
  color: green;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid green;
  border-radius: 3px;
  transition: 0.2s;
  &:hover,
  &:focus {
    box-shadow: 0 0.5em 0.5em -0.4em green;
    transform: translateY(-0.25em); 
  }
}

.editBtn, 
.modal__btn {
  color: green;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  transition: 0.2s;
  &:hover,
  &:focus {
    box-shadow: 0 0.5em 0.5em -0.4em green;
    transform: translateY(-0.25em); 
  }
}

.changePage,.cancel-btn {
  color: blue;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  transition: 0.2s;
  &:hover,
  &:focus {
  box-shadow: 0 0.5em 0.5em -0.4em blue;
    transform: translateY(-0.25em);
  }
}

.deleteBtn {
  color: red;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  transition: 0.2s;
  &:hover,
  &:focus {
  box-shadow: 0 0.5em 0.5em -0.4em red;
    transform: translateY(-0.25em);
  }
}

@media (max-width: 1100px) {
  .home__body {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .home__top {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
  }
  
  .home__top__right {
    padding: 0 10px;
    // flex-directio  n: column;
  }

  .home__body {
    grid-template-columns: 1fr;
  }
  .home__card {
    &__img {
      img {
        left: calc(50% - 70px);
      }
    }
  }
}

@media (max-width: 500px) {
  .modal__content__top {
    gap: 60px;
    margin-bottom: 16px;
  }
  .modal__content {
    padding: 24px;
  }
  .home__top {
    display: block;
  }
  
  .home__top__left {
    h2 {
      margin-left: 10px;
      font-size: 16px;
    }
    margin-bottom: 24px;
  }

  .home__search {
    width: 100%;
    height: 100%;
  }
  .home__top__right {
    input {
      width: 100%;
      height: 100%;
    }
    padding: 0 10px;
    align-items: flex-end;
    flex-direction: column;
  }
}